@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f5f4f4;
}


/* Navbar section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
}

.logo {
    width: 110px;
    cursor: pointer;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45em;
}

.list-item {
    text-decoration: none;
    color: #757575;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.list-item:hover {
    color: #000000;
}

.ham-burger {
    width: 25px;
}

.button {
    text-decoration: none;
    color: #07A0F3;
    border: 2px solid #07A0F3;
    outline: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    color: #000000;
    border-color: #000000;
}


/* Section 1 */

.section1 {
    margin: 100px 50px 0px 50px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 60px;
}

.detail {
    font-size: 15px;
    color: #757575;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 25px;
}

.btn {
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    background: linear-gradient(to right, #079CF3, #0066ff);
    border: none;
    outline: none;
    border-radius: 7px;
    box-shadow: 0px 7px 10px 5px rgb(0 102 255 / 15%);
    cursor: pointer;
}

.btn:hover {
    background: #0f64e3;
}

.button1 {
    padding: 15px 25px;
}

.section-img {
    width: 500px;
}


/* Section 2 */

.section2 {
    margin: 200px 50px 0 50px;
}

.button2 {
    padding: 15px 50px;
}


/* Section 3 */

.section3 {
    margin: 200px 50px 0 50px;
}

.button3 {
    padding: 15px 50px;
}


/* Service Section */

.services-section {
    margin: 200px 50px 0 50px;
}

.service-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-content h1 {
    font-size: 40px;
    color: #000000;
    font-weight: 700;
    line-height: 50px;
}

.service-content p {
    width: 530px;
    color: #757575;
    font-size: 15px;
    line-height: 25px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px;
}

.service {
    width: 33.3%;
    padding: 40px 20px;
}

.service img {
    width: 50px;
    height: 40px;
    margin-bottom: 20px;
}

.service h3 {
    font-size: 22px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 10px;
}

.service p {
    color: #757575;
    font-size: 15px;
    line-height: 25px;
}


/* Pricing Section */

.pricing {
    background: linear-gradient(to bottom, #08B8F7, #0465EA);
    margin-top: 150px;
    padding: 70px 10px;
}

.pricing h1 {
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
}

.pricing-cards {
    display: flex;
    justify-content: center;
}

.pricing-card {
    margin: 50px 10px 0px 10px;
    width: 320px;
    background-color: #ffffff;
    border-radius: 10px;
}

.card-heading {
    padding: 30px 25px;
}

.card-heading h2 {
    font-size: 25px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 15px;
}

.card-heading p {
    font-size: 15px;
    color: #757575;
    font-weight: 400;
}

.packages {
    padding: 20px;
}

.package {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.package img {
    width: 30px;
    margin-right: 10px;
}

.tick {
    background-color: #ffffff;
    color: white;
    width: 30px;
}

.package p {
    color: #5d626f;
    font-size: 15px;
    font-weight: 600;
}

.card-bottom {
    margin: 35px 0 30px 0px;
    text-align: center;
}

.card-bottom h3 {
    font-size: 30px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-bottom span {
    color: #757575;
}

.card-bottom p {
    color: #958d8d;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
}

.payment-btn {
    padding: 14px 38px;
    font-weight: 600;
    border-radius: 8px;
    font-size: 15px;
}

.payment-button {
    background: transparent;
}

.active-card {
    border-radius: 10px;
    background-color: #353535;
}

.active-card h2 {
    color: #ffffff;
}

.active-card p {
    color: #d6d2d2;
}


/* Feedback Section */

.feedback {
    margin-top: 150px;
}

.feedback-heading {
    width: 700px;
    margin: 0 auto 50px auto;
}

.feedback-heading h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    color: #1D2B4F;
    margin-bottom: 20px;
}

.feedback-heading p {
    text-align: center;
    font-size: 16px;
    color: #757575;
    line-height: 25px;
    font-weight: 500;
}

.feedback-messages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feedback-message {
    width: 500px;
    margin: 10px 10px;
    padding: 30px 25px;
    background-color: transparent;
    border: 1px solid #D9D9D9;
    border-radius: 7px;
}

.feedback-message:hover {
    box-shadow: 3px 3px 5px 3px rgb(0 0 0 / 5%);
    transition: all ease-in-out;
    background-color: #ffffff;
}

.feedback-message>p {
    font-size: 15px;
    line-height: 25px;
}

.profile-detail {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile-detail img {
    width: 65px;
}

.author-details {
    margin-left: 15px;
}

.author-details h3 {
    font-size: 17px;
    margin-bottom: 10px;
    color: #000000;
}

.author-details p {
    font-size: 14px;
    color: #757575;
}


/* Registration Section */

.registration {
    margin-top: 150px;
    background-color: #079CF3;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration-content {
    width: 450px;
}

.registration-content h1 {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    line-height: 55px;
    margin-bottom: 20px;
}

.registration-content p {
    font-size: 14px;
    font-weight: 400;
    color: #f1efef;
    line-height: 25px;
}

.register-button {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    height: fit-content;
    padding: 12px 26px;
    font-size: 15px;
}


/* Footer Section */

footer {
    margin: 150px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
}

.footer-main {
    width: 300px;
}

.footer-main img {
    width: 100px;
    margin-bottom: 15px;
    cursor: pointer;
}

.footer-main p {
    font-size: 14px;
    color: #757575;
    font-weight: 400;
}

footer h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.sub-footer {
    display: flex;
    flex-direction: column;
}

.sub-footer a {
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.sub-footer a:hover {
    color: #000000;
}

.social-media-images img {
    width: 30px;
    cursor: pointer;
}